<!--ng.defaultGridTemplate-->
<div data-bind="css: {'ui-widget': jqueryUITheme}">
    <div class="ngTopPanel" data-bind="css: {'ui-widget-header':jqueryUITheme, 'ui-corner-top': jqueryUITheme}, style: $data.topPanelStyle">
        <div class="ngGroupPanel" data-bind="visible: showGroupPanel, style: headerStyle()">
            <div class="ngGroupPanelDescription" data-bind="visible: configGroups.length == 0">Drag a column header here and drop it to group by that column</div>
            <ul data-bind="visible: configGroups.length > 0" class="ngGroupList">
                <li class="ngGroupItem" data-bind="foreach: configGroups">
                    <span class="ngGroupElement">
                        <span class="ngGroupName" data-bind="text: displayName">
                            <span data-bind="click: removeGroup" class="ngRemoveGroup">x</span>
                        </span>
                        <span data-bind="visible: $index > $parent.configGroups.length" class="ngGroupArrow"></span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="ngHeaderContainer" data-bind="style: headerStyle">
            <div class="ngHeaderScroller" data-bind="style: headerScrollerStyle, ngHeaderRow: $data" ></div>
        </div>
        <div class="ngHeaderButton" data-bind="visible: ($data.showColumnMenu || $data.showFilter), click: toggleShowMenu">
            <div class="ngHeaderButtonArrow"></div>
        </div>
        <div data-bind="visible: showMenu" class="ngColMenu">
            <div data-bind="visible: showFilter">
                <input placeholder="Seach Field:Value" type="text" data-bind="value: filterText"/>
            </div>
            <div data-bind="visible: showColumnMenu">
                <span class="ngMenuText">Choose Columns:</span>
                <ul class="ngColList">
                    <li class="ngColListItem" data-bind="foreach: nonAggColumns">
                        <label>
                            <input type="checkbox" class="ngColListCheckbox" data-bind="value: visible"/><span data-bind="text: displayName"></span><a title="Group By" class="ngGroupIcon" data-bind="visible: (field != '\u2714'), click: $parent.groupBy"></a>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ngViewport" data-bind="css: {'ui-widget-content': jqueryUITheme}, style: viewportStyle">
        <div class="ngCanvas" data-bind="style: canvasStyle">
            <div data-bind="foreach: renderedRows">
                <div data-bind="style: { 'top': offsetTop, 'height': $parent.rowHeight + 'px' }, click: toggleSelected, css: {'selected': selected, 'even': isEven , 'odd': isOdd }, ngRow: $data" class="ngRow"></div>
            </div>
        </div>
    </div>
    <div class="ngFooterPanel" data-bind="ngFooter: $data, css: {'ui-widget-content': jqueryUITheme, 'ui-corner-bottom': jqueryUITheme}, style: footerStyle">
        <div class="ngTotalSelectContainer" data-bind="visible: footerVisible">
            <div class="ngFooterTotalItems" data-bind="css: {'ngNoMultiSelect': !multiSelect}" >
                <span class="ngLabel">Total Items: <span data-bind="text: maxRowsDisplay"></span></span><span data-bind="visible: filterText.length > 0" class="ngLabel">(Showing: <span data-bind="text: totalFilteredItemsLength"></span>)</span>
            </div>
            <div class="ngFooterSelectedItems" data-bind="visible: multiSelect">
                <span class="ngLabel">Selected Items: <span data-bind="text: selectedItemCount"></span></span>
            </div>
        </div>
        <div class="ngPagerContainer" style="float: right; margin-top: 10px;" data-bind="visible: (footerVisible && enablePaging), css: {'ngNoMultiSelect': !multiSelect}">
            <div style="float:left; margin-right: 10px;" class="ngRowCountPicker">
                <span style="float: left; margin-top: 3px;" class="ngLabel">Page Size:</span>
                <select style="float: left;height: 27px; width: 100px" data-bind="value: pagingOptions.pageSize, options: pagingOptions.pageSizes"></select>
            </div>
            <div style="float:left; margin-right: 10px; line-height:25px;" class="ngPagerControl" style="float: left; min-width: 135px;">
                <button class="ngPagerButton" data-bind="click: pageToFirst, disable: cantPageBackward()" title="First Page"><div class="ngPagerFirstTriangle"><div class="ngPagerFirstBar"></div></div></button>
                <button class="ngPagerButton" data-bind="click: pageBackward, disable: cantPageBackward()" title="Previous Page"><div class="ngPagerFirstTriangle ngPagerPrevTriangle"></div></button>
                <input class="ngPagerCurrent" type="text" style="width:50px; height: 24px; margin-top: 1px; padding: 0px 4px;" data-bind="value: pagingOptions.currentPage"/>
                <button class="ngPagerButton" data-bind="click: pageForward, disable: cantPageForward()" title="Next Page"><div class="ngPagerLastTriangle ngPagerNextTriangle"></div></button>
                <button class="ngPagerButton" data-bind="click: pageToLast, disable: cantPageForward()" title="Last Page"><div class="ngPagerLastTriangle"><div class="ngPagerLastBar"></div></div></button>
            </div>
        </div>
    </div>
</div>