<!--ng.defaultGridTemplate-->
<div data-bind="css: {'ui-widget': jqueryUITheme}">
    <div class="ngTopPanel" data-bind="css: {'ui-widget-header':jqueryUITheme, 'ui-corner-top': jqueryUITheme}, style: $data.topPanelStyle">
        <div class="ngGroupPanel" data-bind="visible: showGroupPanel, style: headerStyle()">
            <div class="ngGroupPanelDescription" data-bind="visible: configGroups.length == 0">Drag a column header here and drop it to group by that column</div>
            <ul data-bind="visible: configGroups.length > 0" class="ngGroupList">
                <li class="ngGroupItem" data-bind="foreach: configGroups">
                    <span class="ngGroupElement">
                        <span class="ngGroupName" data-bind="text: displayName">
                            <span data-bind="click: removeGroup" class="ngRemoveGroup">x</span>
                        </span>
                        <span data-bind="visible: $index > $parent.configGroups.length" class="ngGroupArrow"></span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="ngHeaderContainer" data-bind="style: headerStyle">
            <div class="ngHeaderScroller" data-bind="style: headerScrollerStyle, ngHeaderRow: $data" ></div>
        </div>
        <div class="ngHeaderButton" data-bind="visible: ($data.showColumnMenu || $data.showFilter), click: toggleShowMenu">
            <div class="ngHeaderButtonArrow"></div>
        </div>
        <div data-bind="visible: showMenu" class="ngColMenu">
            <div data-bind="visible: showFilter">
                <input placeholder="Seach Field:Value" type="text" data-bind="value: filterText"/>
            </div>
            <div data-bind="visible: showColumnMenu">
                <span class="ngMenuText">Choose Columns:</span>
                <ul class="ngColList">
                    <li class="ngColListItem" data-bind="foreach: nonAggColumns">
                        <label>
                            <input type="checkbox" class="ngColListCheckbox" data-bind="value: visible"/><span data-bind="text: displayName"></span><a title="Group By" class="ngGroupIcon" data-bind="visible: field != '\u2714', click: $parent.groupBy"></a>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ngViewport" data-bind="css: {'ui-widget-content': jqueryUITheme}, style: viewportStyle">
        <div class="ngCanvas" data-bind="style: canvasStyle">
            <div data-bind="foreach: renderedRows">
                <div data-bind="style: { 'top': offsetTop() + 'px', 'height': $parent.rowHeight + 'px' }, click: row.toggleSelected, css: {'selected': row.selected, 'even': isEven , 'odd': isOdd }, ngRow: $data" class="ngRow"></div>
            </div>
        </div>
    </div>
    <div data-bind="ngFooter: $data"></div>
</div>